.cart-page {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
  }
  h2 {
    font-size: 26px;
    text-align: center;
  }
  .no-items {
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;
  }
  &__items {
    display: flex;
    flex: 1;
    flex-direction: column;
    & > h2 {
      margin-top: 30px;
    }
  }
}

.cart-item {
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  img {
    width: 100px;
    height: 100px;
  }
  h3 {
    font-size: 26px;
  }
  &__quantity {
    button {
      font-size: 24px;
      font-weight: bold;
      padding: 10px 15px;
      margin: 15px;
    }
  }
}
