.about__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.img__about {
    width: 410px;
    height: 418px;
    padding-top: 40px;
}

.img__materials {
    justify-content: flex-end;
}

.about__item {
    width: 50%;
    line-height: 22px;
    padding: 30px 4em 0 4em;
}

.about__item-title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 18px;
}
