/* Header */
.header {
    width: 100%;
    /* padding-top: 20px; */

    padding: 40px 7.5% 0px 7.5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.header.fixed{
    padding: 20px 7.5% 10px 7.5%;
    background-color: #ACB0B9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
.header.active{
    background-color: #ACB0B9;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    color: #fff;
    line-height: 20px;
}

.header__logo-inner {
    display: flex;
    justify-content: space-between;
    width: 145px;
    position: relative;
    bottom: 5px;
}
.header__logo-subtitle {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500;
}


/* Nav */
.nav {
    font-size: 12px;
    padding-bottom: 5px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    text-decoration: none;
    position: relative;
    padding: 10px 15px;
    color: #fff;
    background-color: transparent;
    transition: color .1s linear;
    border-radius: 4px;
}

.nav__link:hover {
    color: rgba(96, 107, 116, 1);
    background-color: #fff ;
    font-weight: bold;
}

.nav__link:hover,
.nav__link.active {
    opacity: 1;
}

.nav__link.active {
    color: rgba(96, 107, 116, 1);
    font-weight: bold;
}

.nav-toggle{
    position: absolute;
    padding-top: 20px;
    margin-right: 7.5%;
    font-size: 0;
    bottom: 5px;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
    right: 24px;
    z-index: 1;
    width: 30px;
}
.nav-toggle:focus{
    outline: 0;
}
.nav-toggle__item{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: transform .2s linear;
}
.nav-toggle.active .nav-toggle__item{
    background: none;
}
.nav-toggle.active .nav-toggle__item:before{
    transform-origin: left top;
    transform: rotate(45deg)
    translate3d(1.5px,0px,0);
}
.nav-toggle.active .nav-toggle__item:after{
    transform-origin: left top;
    transform: rotate(-45deg)
         translate3d(-5px,3.5px,0);
}

.nav-toggle__item:before,
.nav-toggle__item:after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}
.nav-toggle__item:before {
    top: -8px;
}
.nav-toggle__item:after {
    bottom: -8px;
}

@media (max-width: 990px){
    .nav__link {
        margin: 0 5px;
    }
    .header.fixed{
        padding: 15px 2% 10px 2%;
    }
    .header {
        padding: 15px 2% 10px 2%;
    }
    .nav-toggle{
        margin-right: 2%;
        padding-bottom: 19px;
    }
}

@media (max-width: 770px){
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 5px 0;
        margin-top: -3px;
        background-color: #ACB0B9;
    }
    .nav.active{
        display: block;
    }
    .nav__link{
        display: block;
        width: 100%;
        margin: 0;
        padding: 15px 20px;
    }
    .nav-toggle{
        display: block;
    }
}