/* Header */
.header {
    width: 100%;
    padding: 10px 7.5% 0px 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__inner {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: #222222;
    padding-top: 20px;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    font-size: 20px;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}


.header__inner-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px;
}


.header__inner-title div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: aliceblue;
    padding: 0 30px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    width: 105px;
    outline:  none;
}

input:focus {
    border: 1px solid rgb(85, 82, 82);
}